.impacto
    height: 100vh !important
    width: 100vw !important
    background-color: #FD6729
    color: #FFFF
    font-family: 'DIN Round Pro', Helvetica, Arial, sans-serif !important
    font-weight: bold
    font-size: 380%

.impactoe
    height: 40vh !important
    width: 100vw !important
    background-color: #FD6729

.logoImpacto
    height: 90vh !important
    width: 90vw !important

.logosImpacto
    height: 90vh !important
    width: 90vw !important

.logoMini
    height: 10vh !important
    width: 10vw !important

.navegacionInferior
    width: 100vw !important
    background-color: #49B1BA
    color: #FFFF
    text-align: center
    font-family: 'DIN Round Pro', Helvetica, Arial, sans-serif !important
    font-weight: bold
    font-size: 130%    

.bordes
    border-left-style: solid

.link-barra-inferior
    color: #FFFF
.link-barra-inferior:hover
    color: #FFFF  
    text-decoration: none  

.container 
  position: relative

.centered 
  position: absolute
  color: #FD6729
  font-family: 'DIN Round Pro', Helvetica, Arial, sans-serif !important
  font-size: 12vw

.centeredd 
  position: absolute
  color: #FD6729
  font-family: 'DIN Round Pro', Helvetica, Arial, sans-serif !important
  font-size: 10vw
    

       
