.impacto
    height: 100vh !important
    width: 100vw !important
    background-color: #FD6729
    color: #FFFF    

.logoImpacto
    height: 90vh !important

.logosImpacto
    height: 90vh !important

.logoMini
    height: 10vh !important
    width: 10vw !important

.navegacionInferior
    width: 100vw !important
    background-color: #49B1BA
    color: #FFFF
    text-align: center

.bordes
    border-left-style: solid

.link-barra-inferior
    color: #FFFF
.link-barra-inferior:hover
    color: #FFFF  
    text-decoration: none  