.ludiBlogPortada
    height: 100vh !important
    width: 98.8vw !important
    background-color: #FFFFFF

.ludiBlog
    height: 100vh !important
    width: 98.8vw !important
    background-color: #49B1BA

.logoLudiBlog
    height: 90vh !important