.nosotros
    height: 100vh !important
    width: 100vw !important
    background-color: #49B1BA
    color: #FFFF
    font-family: 'DIN Round Pro', Helvetica, Arial, sans-serif !important
    font-weight: bold
    font-size: 380%

.logoNosotros
    height: 90vh !important
    width: 90vw !important

.logosNosotros
    height: 90vh !important

.logoMini
    height: 10vh !important
    width: 10vw !important

.navegacionInferior
    width: 100vw !important
    background-color: #49B1BA
    color: #FFFF
    text-align: center
    font-family: 'DIN Round Pro', Helvetica, Arial, sans-serif !important
    font-weight: bold
    font-size: 130%        

.bordesCom
    border-left-style: solid
    border-top-style: solid
    border-bottom-style: solid
    border-color: #ffff

.link-barra-inferior
    color: #FFFF
.link-barra-inferior:hover
    color: #FFFF  
    text-decoration: none      