.programasPortada
    height: 100vh !important
    width: 98.8vw !important
    background-color: #FFFFFF
    color: #7e4186

.programas
    height: 100vh !important
    width: 98.8vw !important
    background-color: #7e4186 !important
    color: #ffffff

.logoProgramasSociales
    height: 90vh !important

.logoMini
    height: 10vh !important
    width: 10vw !important

.navegacionInferior
    width: 98.8vw !important
    background-color: #49B1BA !important
    color: #ffffff

.bordes
    border-left-style: solid !important
    border

.link-barra-inferior
    color: #ffffff

.link-barra-inferior:hover
    color: #ffffff
    text-decoration: none  
