@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700|Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700");
@import url("fonts/DINRoundPro/fontstyle.css");
#navbarSupportedContent {
  background-color: #6ec1c8;
}

.navbar {
  background-color: transparent !important;
}

.navbar-toggler-icon {
  color: black !important;
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.dona {
  height: 100vh !important;
  width: 100vw !important;
  background-color: white;
}

.nosotros {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.programas {
  height: 100vh !important;
  width: 100vw !important;
  background-color: white;
}

.logoPrincipal {
  height: 500px !important;
  width: 500px !important;
}

.logosPrincipales {
  height: 90vh !important;
}

.logosPrincipales:hover {
  height: 50vh !important;
}

.impacto {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #FD6729;
  color: #FFFF;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 380%;
}

.impactoe {
  height: 40vh !important;
  width: 100vw !important;
  background-color: #FD6729;
}

.logoImpacto {
  height: 90vh !important;
  width: 90vw !important;
}

.logosImpacto {
  height: 90vh !important;
  width: 90vw !important;
}

.logoMini {
  height: 10vh !important;
  width: 10vw !important;
}

.navegacionInferior {
  width: 100vw !important;
  background-color: #49B1BA;
  color: #FFFF;
  text-align: center;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 130%;
}

.bordes {
  border-left-style: solid;
}

.link-barra-inferior {
  color: #FFFF;
}

.link-barra-inferior:hover {
  color: #FFFF;
  text-decoration: none;
}

.container {
  position: relative;
}

.centered {
  position: absolute;
  color: #FD6729;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-size: 12vw;
}

.centeredd {
  position: absolute;
  color: #FD6729;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-size: 10vw;
}

.participa {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #FD6729;
  color: #FFFF;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 380%;
}

.logoParticipa {
  height: 90vh !important;
  width: 90vw !important;
}

.logosParticipa {
  height: 90vh !important;
}

.logoMini {
  height: 10vh !important;
  width: 10vw !important;
}

.navegacionInferior {
  width: 100vw !important;
  background-color: #49B1BA;
  color: #FFFF;
  text-align: center;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 130%;
}

.bordes {
  border-left-style: solid;
}

.link-barra-inferior {
  color: #FFFF;
}

.link-barra-inferior:hover {
  color: #FFFF;
  text-decoration: none;
}

.nosotros {
  height: 100vh !important;
  width: 100vw !important;
  background-color: #49B1BA;
  color: #FFFF;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 380%;
}

.logoNosotros {
  height: 90vh !important;
  width: 90vw !important;
}

.logosNosotros {
  height: 90vh !important;
}

.logoMini {
  height: 10vh !important;
  width: 10vw !important;
}

.navegacionInferior {
  width: 100vw !important;
  background-color: #49B1BA;
  color: #FFFF;
  text-align: center;
  font-family: "DIN Round Pro", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 130%;
}

.bordesCom {
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #ffff;
}

.link-barra-inferior {
  color: #FFFF;
}

.link-barra-inferior:hover {
  color: #FFFF;
  text-decoration: none;
}

.programasPortada {
  height: 100vh !important;
  width: 98.8vw !important;
  background-color: #FFFFFF;
}

.programas {
  height: 100vh !important;
  width: 98.8vw !important;
  background-color: #7E4186;
}

.logoProgramasSociales {
  height: 90vh !important;
}

.donaPortada {
  height: 100vh !important;
  width: 98.8vw !important;
  background-color: #FFFFFF;
}

.dona {
  height: 100vh !important;
  width: 98.8vw !important;
  background-color: #7E4186;
}

.logoDona {
  height: 90vh !important;
}

.ludiBlogPortada {
  height: 100vh !important;
  width: 98.8vw !important;
  background-color: #FFFFFF;
}

.ludiBlog {
  height: 100vh !important;
  width: 98.8vw !important;
  background-color: #49B1BA;
}

.logoLudiBlog {
  height: 90vh !important;
}

/*# sourceMappingURL=app.css.map */
